.arrow_back_24px.arrow_back_24px {
  left: 241px;
  top: 214px;
  width: 84px;
  height: 84px;
}
.icon {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 3217px;
  height: 1810px;
  align-items: flex-start;
}
.rectangle1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 3217px;
  height: 1810px;
  background-color: #fff;
}
.group6921 {
  position: absolute;
  left: 1443px;
  top: 227px;
  width: 332.9999px;
  height: 57.0857px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.pleaseSelectYourTreatmentBudge {
  color: #000;
  font-size: 80px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1132px;
  top: 383px;
  width: 953px;
  height: 205px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle3 {
  position: absolute;
  left: 1238px;
  top: 652px;
  width: 741px;
  height: 128px;
  outline: solid 2px #4d77ff;
  outline-offset: -2px;
  border-radius: 25px;
  background-color: #fff;
}
._50 {
  color: #4d77ff;
  font-size: 50px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1238px;
  top: 687px;
  width: 741px;
  height: 49px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle4 {
  position: absolute;
  left: 1238px;
  top: 833px;
  width: 741px;
  height: 128px;
  outline: solid 2px #4d77ff;
  outline-offset: -2px;
  border-radius: 25px;
  background-color: #fff;
}
._100500 {
  color: #4d77ff;
  font-size: 50px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1238px;
  top: 868px;
  width: 741px;
  height: 49px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle5 {
  position: absolute;
  left: 1238px;
  top: 1014px;
  width: 741px;
  height: 128px;
  outline: solid 2px #4d77ff;
  outline-offset: -2px;
  border-radius: 25px;
  background-color: #fff;
}
._5001000 {
  color: #4d77ff;
  font-size: 50px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1238px;
  top: 1049px;
  width: 741px;
  height: 49px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle6 {
  position: absolute;
  left: 1238px;
  top: 1195px;
  width: 741px;
  height: 128px;
  outline: solid 2px #4d77ff;
  outline-offset: -2px;
  border-radius: 25px;
  background-color: #fff;
}
._1000 {
  color: #4d77ff;
  font-size: 50px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1238px;
  top: 1230px;
  width: 741px;
  height: 49px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle7 {
  position: absolute;
  left: 1218px;
  top: 1455px;
  width: 741px;
  height: 128px;
  outline: solid 2px #000;
  outline-offset: -2px;
  border-radius: 25px;
  background-color: #fff;
}
.submit {
  color: #000;
  font-size: 50px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1238px;
  top: 1490px;
  width: 741px;
  height: 49px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.undraw_with_love_re_1q3m1 {
  position: absolute;
  left: 2139px;
  top: 703px;
  width: 1078px;
  height: 1103px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.ellipse1 {
  position: absolute;
  left: 220px;
  top: 193px;
  width: 126px;
  height: 126px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
