.arrow_back_24px.arrow_back_24px {
  left: 201px;
  top: 168px;
  width: 84px;
  height: 84px;
}
.icon {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 3217px;
  height: 1810px;
  align-items: flex-start;
}
.rectangle1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 3217px;
  height: 1810px;
  background-color: #fff;
}
.diabeticKidneyDiseaseOccursWhe {
  color: #000;
  font-size: 70px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 969px;
  top: 597px;
  width: 1278px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.diabeticKidneyDiseaseOccursWhe2 {
  color: #000;
  font-size: 70px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 969px;
  top: 597px;
  width: 1278px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.doYouHaveDKD {
  color: #000;
  font-size: 100px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1015px;
  top: 215px;
  width: 1187px;
  height: 129px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.undraw_with_love_re_1q3m1 {
  position: absolute;
  left: 2139px;
  top: 703px;
  width: 1078px;
  height: 1103px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.rectangle3 {
  position: absolute;
  left: 1152px;
  top: 1446px;
  width: 912px;
  height: 216px;
  outline: solid 2px #fff;
  outline-offset: -2px;
  border-radius: 25px;
  background-color: #4d77ffab;
}
.continue {
  color: #fff;
  font-size: 100px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1333px;
  top: 1496px;
  width: 550px;
  height: 116px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle4 {
  position: absolute;
  left: 793px;
  top: 1003px;
  width: 710px;
  height: 191px;
  outline: solid 2px #4d77ff;
  outline-offset: -2px;
  border-radius: 25px;
  background-color: #fff;
}
.rectangle5 {
  position: absolute;
  left: 1649px;
  top: 1003px;
  width: 734px;
  height: 191px;
  outline: solid 2px #4d77ff;
  outline-offset: -2px;
  border-radius: 25px;
  background-color: #fff;
}
.yes {
  color: #000;
  font-size: 100px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 932px;
  top: 1048px;
  width: 432px;
  height: 76px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.no {
  color: #000;
  font-size: 100px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1843px;
  top: 1044px;
  width: 349px;
  height: 120px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle6 {
  position: absolute;
  left: 1111px;
  top: 407px;
  width: 1028px;
  height: 109px;
  outline: solid 2px #4d77ff;
  outline-offset: -2px;
  border-radius: 25px;
  background-color: #fff;
}
.clickHereForMoreInformation {
  color: #000;
  font-size: 50px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1094px;
  top: 431px;
  width: 1027px;
  height: 78px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.ellipse1 {
  position: absolute;
  left: 180px;
  top: 147px;
  width: 126px;
  height: 126px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.frame6921 {
  position: absolute;
  left: 1442px;
  top: 99px;
  width: 333.2571px;
  height: 57.0857px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
